extends layout

block content
  .container#mainContainer
    .row
      .col-md-4.well
        h2 Welcome
        p This is a static element.
      .col-md-4
        div#testComponent1
      .col-md-4
        div#testComponent2